body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
}
canvas {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
#platformCreator {
    width: 100%;
    color: white;
    font-size: 36px;
    text-align: center;
    top: calc(50% - 300px);
    left: 50%;
    transform: translate(-50%, -200%);
    position: absolute;
}
#map {
    display: none;
}
/* Scrollbar */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(40, 40, 40);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* Left panel - list of platforms */
#platformVar {
    background-color: rgb(44, 44, 44);
    width: 25%;
    height: 600px;
    color: white;
    font-size: 14px;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    overflow-y: scroll
}
#platformVar > div{
    background-color: rgb(36, 36, 36);
    width: 100%;
    height: 5%;
    float: left;
    padding-left: 7px;
    padding-top: 7px;
    box-sizing: border-box;
}
#platformVar > div:nth-child(even){
    background-color: rgb(65, 65, 65);
}
#platformVar > div:hover {
    background-color: rgb(44, 62, 70);
}
#platformVar > div:nth-child(even):hover{
    background-color: rgb(57, 71, 75);
}
#platformVar > div > div {
    background-color: rgb(216, 37, 5);
    width: 6%;
    height: 5%;
    position: absolute;
    right: 0;
    transform: translateY(-23px);
    display: none;
    font-size: 20px;
    box-sizing: border-box;
    padding-top: 4px;
    text-align: center;
    user-select: none;
}
#platformVar > div:hover > div {
    display: block;
}
#platformVar > div:hover > div:hover {
    background-color: rgb(206, 90, 69);
}
/* Left Panel - buttons*/
#addPlatform {
    background-color: rgb(41, 83, 173);
    width: 15%;
    height: 55px;
    position: absolute;
    top: calc(50% + 300px);
    color: black;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    user-select: none;
}
#addPlatform:hover {
    filter: brightness(115%);
}
#addPlatform:active {
    filter: brightness(125%);
}
#copyToClipboard {
    background-color: rgb(226, 160, 19);
    width: 10%;
    height: 55px;
    position: absolute;
    top: calc(50% + 300px);
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    color: black;
    user-select: none;
    left: 15%;
}
#copyToClipboard:hover {
    filter: brightness(115%);
}
#copyToClipboard:active {
    filter: brightness(125%);
}
/* Left Panel - level input */
#levelDiv {
    width: 25%;
    height: 30px;
    position: absolute;
    top: calc(50% - 330px);
    user-select: none;
}
#levelText{
    background-color: rgb(34, 34, 34);
    width: 25%;
    height: 100%;
    float: left;
    color: white;
    font-size: 17px;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
    box-sizing: border-box;
    border: none;
}
#level {
    background-color: rgb(54, 54, 54);
    width: 35%;
    height: 100%;
    color: white;
    font-size: 16px;
    text-align: left;
    border: none;
    resize: none;
    box-sizing: border-box;
    padding: 4px;
    float: left;
}
#level:focus {
    filter: brightness(115%);
    outline: none;
}
#levelButton {
    background-color: rgb(41, 83, 173);
    width: 40%;
    height: 100%;
    float: left;
    color: white;
    font-size: 17px;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    border: none;
}
#levelButton:hover {
    filter: brightness(115%);
}
#levelButton:active {
    filter: brightness(125%);
}
/* Right panel - import platforms */
#importPlatformsText {
    background-color: rgb(44, 44, 44);
    width: 25%;
    height: 600px;
    color: white;
    font-size: 14px;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 4px;
    font-size: 14px;
}
#importPlatformsText:focus {
    filter: brightness(115%);
    outline: none;
}
/* Right panel - button */
#importPlatformsButton {
    background-color: rgb(226, 160, 19);
    width: 25%;
    height: 55px;
    position: absolute;
    top: calc(50% + 300px);
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
    color: black;
    user-select: none;
    right: 0px;
}
#importPlatformsButton:hover {
    filter: brightness(115%);
}
#importPlatformsButton:active {
    filter: brightness(125%);
}
/* Middle panel top div */
#midTopPanel {
    background-color: rgb(0, 0, 0, 0);
    width: 800px;
    height: 30px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 400px);
    transform: translateY(-100%);
    box-sizing: border-box;
    user-select: none;
    color: white;
    font-size: 17px;
    text-align: center;
}
#midTopPanel > div {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
}
/* Middle panel top - scroll div*/
#scrollDiv {
    background-color: rgb(34, 34, 34);
    width: 20%;
    height: 100%;
    float: left;
    padding-top: 5px;
}
/* Middle panel top - button 'scroll up' */
#scrollUp {
    background-color: rgb(41, 83, 173);
    width: 5%;
    height: 100%;
    float: left;
    padding-top: 6px;
}
#scrollUp:hover {
    filter: brightness(115%);
}
#scrollUp:active {
    filter: brightness(125%);
}
/* Middle panel top - button 'scroll down' */
#scrollDown {
    background-color: rgb(41, 83, 173);
    width: 5%;
    height: 100%;
    float: left;
    padding-top: 5px;
}
#scrollDown:hover {
    filter: brightness(115%);
}
#scrollDown:active {
    filter: brightness(125%);
}
/* Middle panel top - button 'wind' */
#wind {
    background-color: rgb(51, 29, 29);
    width: 40%;
    height: 100%;
    float: left;
    padding-top: 6px;
}
#wind:hover {
    filter: brightness(120%);
}
#wind:active {
    filter: brightness(130%);
}
/* Middle panel top - opacity div */
#opacityDiv {
    background-color: rgb(34, 34, 34);
    width: 20%;
    height: 100%;
    float: right;
    padding-top: 5px;
}
/* Middle panel top - button 'opacity up' */
#opacityUp {
    background-color: rgb(41, 83, 173);
    width: 5%;
    height: 100%;
    float: right;
    padding-top: 6px;
    
}
#opacityUp:hover {
    filter: brightness(115%);
}
#opacityUp:active {
    filter: brightness(125%);
}
/* Middle panel top - button 'opacity down' */
#opacityDown {
    background-color: rgb(41, 83, 173);
    width: 5%;
    height: 100%;
    float: right;
    padding-top: 5px;
}
#opacityDown:hover {
    filter: brightness(115%);
}
#opacityDown:active {
    filter: brightness(125%);
}
/* Middle panel bottom - change platform type */
#changePlatformType {
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    height: 55px;
    position: absolute;
    top: calc(50% + 300px);
    left: calc(50% - 400px);
    box-sizing: border-box;
    user-select: none;
}
#changePlatformType > div {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: center;
    padding-top: 11px;
    font-size: 28px;
    user-select: none;
}
#changePlatformType > div:hover {
    filter: brightness(115%);
}
#changePlatformType > div:active {
    filter: brightness(125%);
}
/* Middle panel bottom - button platformType1 */
#platformType1 {
    background-color: rgb(243, 189, 52);
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}
/* Middle panel bottom - button platformType2 */
#platformType2 {
    background-color: rgb(66, 66, 66);
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}
/* Middle panel bottom - change platform surface */
#changePlatformSurface {
    background-color: rgba(0, 0, 0, 0);
    width: 400px;
    height: 55px;
    position: absolute;
    top: calc(50% + 300px);
    left: calc(50%);
    box-sizing: border-box;
    user-select: none;
}
#changePlatformSurface > div {
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: center;
    padding-top: 11px;
    font-size: 28px;
    user-select: none;
}
#changePlatformSurface > div:hover {
    filter: brightness(115%);
}
#changePlatformSurface > div:active {
    filter: brightness(125%);
}
/* Middle panel bottom - button platformSurface1 */
#platformSurface1 {
    background-color: rgb(243, 189, 52);
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    float: left;
}
/* Middle panel bottom - button platformSurface2 */
#platformSurface2 {
    background-color: rgb(66, 66, 66);
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    float: left;
}
/* Middle panel bottom - button platformSurface3 */
#platformSurface3 {
    background-color: rgb(66, 66, 66);
    width: calc(100% / 3);
    height: 100%;
    position: relative;
    float: left;
}